---
# Only the main.scss Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i,800,800i,900,900i&subset=latin-ext|Roboto');// Define defaults for each variable.

$base-font-family: "Lato", Georgia, serif !default; 
$base-header-font-family: "Montserrat" ,  Helvetica, Arial, serif !default; 
$alt-header-font-family: "Roboto", "Lato", Georgia, serif !default; 
$base-font-size:   1vw !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     40px !default;

$text-color:       #000 !default;

$background-color: #f9f9f9 !default;
$brand-color:      #725f5f !default;
$brand-color-1:      #725f5f !default;


$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$base-header-font-color:       #000 !default;
$base-header-font-color-1:       #fff !default;

// Width of the content area
$content-width:    1024px !default;
$on-mobile:          414px !default;
$on-laptop:        800px !default;
$on-tablet:        768px !default;

// Breakpoints
$bp-xlarge:			1200px;
$bp-large:			1024px; 
$bp-medium:			768px;
$bp-small:			525px;
$bp-xsmall:			425px;
$bp-xxsmall:		320px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin min-width($bp) {
  @media screen and (min-width: $bp + 1) {
    @content;
  }
}
@mixin max-width($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}

// Import partials.
@import
  "tomle/base",
  "tomle/layout",
  "tomle/syntax-highlighting",
  "tomle/font-awesome",
  //"tomle/cover",
  "tomle/carousel",
  "tomle/custom"
;
